body{
	background-image:url("../images/bckgrnd.jpg");
	background-repeat: repeat-x;  
	margin-top: 0px;
	text-align: center;
}

#wrapper{
	width:850px; 
	margin: auto;
	padding: 0px; 
	text-align: left; 
	background-color:#ffffff;
}

#header{
	margin:0px;
	padding:0px;
	width: 850px;
	height: 205px;  
	background-image: url(../images/banner.jpg);
}

#navholder{
	width:850px; 
	height:25px;
	background-image: url(../images/nav_back.png); 
	background-repeat: repeat-x;
}

#nav{
	padding:0px;
	margin:0px; 
}

#container{
	width: 850px; 
	margin:0px;
	padding: 0px;
	background-color: #ffffff;
}

#container #leftCol{
	width: 525px;
	float: left;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 15px;
}

#container #rightCol{
	width: 275px;
	float: right;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 15px;
}

#footer{
	background-color:#000000;
	padding: 0px;
	margin:	0px;
	width: 850px;
	height: 25px; 
	clear: both;
}

#navholder #nav li{
	margin: 0px; 
	padding: 0px; 
	float: left;
	display: inline;
	list-style-type: none;
}

#nav a:link, #nav a:visited, #nav a:active {
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 12px; 
	text-decoration:none;
	letter-spacing: 2px;
	text-align: center;
	display: block; 
	height: 21px; 
	width: 120px; 
	padding-top: 4px;
	border-right-width: 1px;	
	border-right-style: solid; 
	border-right-color: #777;
}

#nav a:hover {
   	background-image: url(../images/nav_on.png);	
	background-repeat: repeat-x;
}